
	#movie-list {
		max-height: 500px;
		overflow-y: auto;
		border: 1px solid #ddd;
		padding: 10px;
		background: #fff;
	}

	#movies-table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
		border: 1px solid black;
	}

	#movies-table th, #movies-table td {
		border: 1px solid #ddd;
		padding: 10px;
		text-align: left;
	}

	#movies-table td {
		text-align: left;
		padding: 10px;
		font-size: 16px;
	}
	#movies-table .even-row {
		background-color: #f8f8f8;
	}

	#movies-table .odd-row {
		background-color: #ffffff;
	}

	#movies-table tr {
		border-bottom: 0.5px solid black;
	}

	#movies-table thead {
		border-bottom: 4px solid black;
	}

	#search {
		width: 50%;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 20px;
	}



	.title-column {
		width: 30%;
		font-weight: bold;
	}

	/*Tables movie titles*/
	.movie-title {
		cursor: pointer;
		color: #007BFF;
		font-size: 18px;
		font-weight: bold;
		white-space: nowrap;
	}

	/*Tables movie titles when hovered over*/
	.movie-title:hover {
		text-decoration: underline;
		color: #0165d1;
	}

	/*Tables movie titles when clicked*/
	.movie-title:active {
		text-decoration: underline;
		color: #0150a4;
		font-size: 18.5px;
	}

	/*Center the selected movie title*/
		/*.movie-title.centered-title {
			text-align: center !important;
		}*/

	/* Center the buttons inside the hidden row */
		/*.details-row td {
			text-align: center !important;
		}*/

	/* Style for buttons inside the hidden row */
		.open-modal-btn {
			padding: 10px 15px;
			margin: 0px 5px;
			font-size: 14px;
			border: none;
			border-radius: 8px;
			cursor: pointer;
			color: #fff;
			background-color: #1F3A60;
			transition: background-color 0.2s ease-in-out;
		}

	/* Button hover effect */
		.open-modal-btn:hover {
			background-color: #20314a;
		}

	/* Button active effect */
		.open-modal-btn:active {
			background-color: #41618d;
		}



		/* Center the buttons inside the hidden row */
.details-row td {
    text-align: center;
}

/* Align buttons to center */
.details-row .open-modal-btn {
    display: inline-block; /* Ensures buttons are properly spaced */
    margin: 5px; /* Adds spacing */
}