@import url("theme_a_complete_unknown.css");
@import url("theme_anora.css");
@import url("theme_brutalist.css");
@import url("theme_conclave.css");
@import url("theme_dune.css");
@import url("theme_emilia_perez.css");
@import url("theme_im_still_here.css");
@import url("theme_nickel_boys.css");
@import url("theme_substance.css");
@import url("theme_wicked.css");
@import url("movie_modal.css");
@import url("movie_table.css");
@import url("oscar_modal.css");



	body {
		font-family: Arial, sans-serif;
		background-color: #f4f4f4;
		text-align: center;
		padding: 20px;
	}

	.container {
		width: 80%;
		margin: auto;
		padding: 0px 20px 20px 20px;
	}

	/*Container for the theme buttons*/
		.theme-button-container { 
			display: flex;
			justify-content: space-around;
			align-items: center;
			padding: 25px 40px;
			margin-bottom: 0px;
		}

	/*Hides movie info option row*/
		.details-row.hidden {
			display: none;
		}

	/*Background shadow of modal*/
		.modal-background {
			display: none;
			position: fixed;
			z-index: 1000;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: rgba(0,0,0,0.4);
		}

	/*Position of modal and general surface styling*/
		.modal-content {
			position: relative;
			background-color: #fff;
			padding: 20px;
			width: 60%;
			border-radius: 12px;
			margin: 10% auto;
			max-height: 80vh;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			max-width: 900px;
			overflow-y: auto;
		}

	/*Styling for the Search Input*/
		#search {
			width: 50%;
			padding: 10px;
			font-size: 16px;
			margin-bottom: 20px;
		}